extends ../layouts/default

block js
    // Go to www.addthis.com/dashboard to customize your tools
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b2dbd44d4c702c', async='async')


block content
    
    .promo-banner
        p Special Mother's Day Discount! From May 13-15, get a 30% discount and only pay $322!
    
    if !user
        .scroll-instructions
            p.scroll-instructions__text Still curious about becoming a doula? Keep scrolling.  
                i.icon-arrows_down_double
    
    .section.section--first
            .introduction

                //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
                //- ... or completely change this header to suit your design.

                //img.introduction__image(src="images/tiny-love-logo-750x333.png")
                
                a.introduction--logo-white(href='/') Tiny Love

                //- ul
                //-     each link in navLinks
                //-         li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                ul.introduction__access
                    if user
                        if user && user.canAccessKeystone
                            li: a(href='/keystone') Open Admin
                        li: a(href='/keystone/signout') Sign Out
                    else
                        li: a.button.button--teal(href='/user/signin') Sign In
                    
                h2.introduction__headline 
                  | Imagine being there <br />
                  | for #[em that] moment
                h3.introduction__subheadline 
                  | Prepare to change the world, <br />
                  | with Tiny Love
                
                if !user
                    a(href='/user/signup').main-cta.button.button--red Signup for the program!
                else 
                    a(href='/user/dashboard').main-cta.button.button--red Go to my dashboard

    .section.section--white
        .how-it-works
            h2 How the Tiny Love program works
            h3 You don’t need prior experience to get started.
            p We’ve lovingly poured the experience of more than 1400 births into this course.
            p In addition to real-world experience, our curriculum consists of a mix of online, video and print materials as well as practical activities to help you start your business.
            p We leverage multiple resources to keep the program fun and engaging. The assignments encourage networking and becoming active where you call home.
            p We believe this is a valuable, business-building, active-training program, and we welcome your participation.
            a(href='/page/frequently-asked-questions').button Need more information?

    .section.section--tan
        .requirements
            h2 The requirements
            ul.two-column
                li Gain access to a computer or digital device with Internet service
                li Complete the online modules
                li Obtain three evaluations from mother and partner or other family/friend
                li Read the required reading materials
                li Attend a childbirth class
                li 
                    | Sign a commitment to operate within the 
                    a(href='http://www.beadoula.com/resources/Standards_of_Practice.pdf') Tiny Love Standards of Practice

            include ../mixins/tips-to-succeed

    .section.section--white
        .books
            h2 Required reading list
            a.book-link.book-link--required(href="http://www.amazon.com/Birth-Partner-Complete-Childbirth-Companions/dp/155832819X/ref=sr_1_1", target="_blank")
                img(src="images/book-birth-partner@2x.png", alt="The Birth Partner - Revised 4th Edition: A Complete Guide to Childbirth for Dads, Doulas, and All Other Labor Companions")
            a.book-link.book-link--required.book-link--wide(href="http://www.amazon.com/Doula-Book-Companion-Healthier-Lawrence/dp/0738215066/ref=sr_1_1", target="_blank")
                img(src="images/book-doula-book@2x.png", alt="The Doula Book: How a Trained Labor Companion Can Help You Have a Shorter, Easier, and Healthier Birth (A Merloyd Lawrence Book)")
            a.book-link.book-link--required(href="http://www.amazon.com/Nurturing-Touch-Birth-Support-Handbook-/dp/0964115921/ref=sr_1_1?s=books&ie=UTF8&qid=1435276187&sr=1-1&keywords=the+nurturing+touch+at+birth", target="_blank")
                img(src="images/book-nurturing-touch@2x.png", alt="The Nurturing Touch at Birth: a Labor Support Handbook- Third Edition")
            a.book-link(href="https://www.amazon.com/Labor-Progress-Handbook-Interventions-Dystocia/dp/B005C7CW70/ref=sr_1_1?s=books&ie=UTF8&qid=1472940973&sr=1-1&keywords=the+labor+progress+handbook")
                img(src="images/book-labor-progress@2x.png", alt="The Labor Progress Handbook: Early Interventions to Prevent and Treat Dystocia")

    .section.section--tan
        .cost
            //h2 Program Cost
            h2 Special Mother's Day Deal!
            h3 One-time charge of #[span.price $322.00]
            //h3 One-time charge of #[span.price $460.00] 
            //One-time charge of $460.00
            p While there are no fees for things like doula training organizations, packet fees, application fees, membership fees or certification renewals we do require that you purchase the books on the required reading list and highly recommend that you purchase The Labor Progress Handbook. You can find these books new or used at a local bookstore or at many online retailers.
            p Since all materials are available immediately online there are no refunds offered after you have purchased the program.
            p Payments can be made online using your credit card or your PayPal account.
            if !user
              a(href="/user/signup").button.button--red Sign up
            
    .section.section--white
        .share-the-love
            h2 Spread the Word
            h3 Know someone who would like to be a doula?
            p Kindly share Tiny Love! We genuinely thank you in advance.
            div.social-links-container
                a(href="http://www.facebook.com/tldoulatraining/") 
                  img.social-links(src="images/facebook.png", alt="Facebook Page")
                a(href="http://www.instagram.com/tinylovedoulas/") 
                  img.social-links(src="images/instagram.png", alt="Instagram Page")
                a(href="http://www.pinterest.com/tinylovedoulas/") 
                  img.social-links(src="images/pinterest.png", alt="Pinterest Page")
                a(href="http://twitter.com/tinylovedoula") 
                  img.social-links(src="images/twitter.png", alt="Twitter Page")

      .section.section--tan
          .tinyfriends
              h2 Meet Our Tiny Love Friends!!
              div.tiny-friends-container
                a(href="http://www.photosbylei.com/")
                  img.tiny-friends(src="images/LOGO_URL_BW.jpg", alt="Leilani Rogers")
                a(href="http://www.homebirthoregon.com/")
                  img.tiny-friends(src="images/TinyLoveMidwifery.png", alt="Tiny Love Midwifery")
                a(href="https://www.inspiredbirthpro.com/")
                  img.tiny-friends(src="images/InspiredBirthPro.png", alt="Inspired Birth")
                a(href="http://storkmaternityconsulting.com/")
                  img.tiny-friends(src="images/Stork.png", alt="Stork Maternity Consulting")
                a(href="http://www.atxdoulas.com/")
                  img.tiny-friends(src="images/ATX_doulas.jpg", alt="ATX Doulas")

//    if !user
  //    .section.section--tan
    //      .share-the-love
      //        h2 Spread the Word
      //        h3 Know someone who would like to be a doula?
      //        p Kindly share Tiny Love! We genuinely thank you in advance.
              // Go to www.addthis.com/dashboard to customize your tools
      //        .addthis_sharing_toolbox
